// Default
*
  box-sizing: border-box

body
  background: color-secondary
  background: url('../img/bg-body.jpg') left top no-repeat
  margin: 0
  padding: 0
  font-size: 62.5%
  font-family: font-body

::selection
  background: color-primary
  color: #fff

// Header
.sidebar
  width: 28em
  position: fixed
  top: 0
  left: 0
  bottom: 0
  background: url('../img/bg-sidebar.jpg') right top repeat-y
  text-align: center
  padding: 1em

.sidebar-logo
  display: block
  max-width: 7em
  height: 10em
  margin: 0 auto
  background: url('../img/logo.svg') left top no-repeat
  background-size: 100% auto

.main
  padding: 0 0 0 (sidebar-width + 4)
  max-width: 104em

.lower-canvas
  display: block
  width: 75em
  height: 56em
  background: url('../img/macbook.png') -1.6em -10em no-repeat
  background-size: 100% auto

.sticker-meta
  padding: 2em 0 0 .5em

.sticker-data
  display: inline-block
  vertical-align: top
  width: 75%

.sticker-download
  display: inline-block
  vertical-align: top
  width: 23%
  padding-top: 3.5em
  position: relative
  text-align: right

.sticker-title
  font-size: 3.5em
  color: #fff
  font-weight: 300
  margin: 0

.sticker-link
  background: rgba(#000, .15)
  color: color-border
  display: inline-block
  font-size: 1.3em
  margin: 1em 0
  padding: .4em .6em
  text-decoration: none
  &:hover
    background: rgba(#000, .3)

.btn-download
  background: color-primary
  padding: .4em 1.5em
  color: #fff
  text-decoration: none
  font-size: 1.8em
  box-shadow: 0 2px 0 darken(color-primary, 30%)
  position: relative
  &:hover
    background: darken(color-primary, 10%)
    top: 2px
    box-shadow: none

// Sticker Download List
.sticker-download-list
  background: darken( color-primary, 10% )
  min-width: 160px
  position: absolute
  right: 1px
  top: 64px
  z-index: 1
  display: none

.sticker-download-item
  color: #fff
  display: block
  font-size: 1.2em
  line-height: 2.5
  text-decoration: none
  padding: 5px 15px
  &:hover
    background: darken( color-primary, 20% )

// Stickers List
.stickers-list-box
  margin-top: 2em
  overflow-y: auto
  height: 400px
  box-shadow: 0 -20px 10px -10px rgba(#aaa, .1) inset

#stickers-list
  list-style: none
  margin: 0
  padding: 0

.sticker-item
  display: inline-block
  width: 45%
  vertical-align: top
  padding: 2em
  height: 12em
  margin: 1%
  border-radius: 50%
  cursor: pointer
  position: relative
  &:hover
    border-color: #eee
    background: rgba(#fff, .2)

.sticker-item-image
  transition: all .2s ease
  -webkit-backface-visibility: hidden
  -webkit-transform: translateZ(0) scale(1.0, 1.0)
  max-height: 100%
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  margin: auto
  max-width: 55%