// Default
*
  box-sizing: border-box

body
  background: url('../img/bg-body.jpg')
  margin: 0
  padding: 0
  font-size: 62.5%
  font-family: font-body

::selection
  background: color-primary
  color: #fff

// Header
.sidebar
  width: 28em
  position: fixed
  top: 0
  left: 0
  bottom: 0
  background: rgba(#000, .4)
  text-align: center
  padding: 1em

.sidebar-logo
  display: block
  max-width: 7em
  height: 10em
  margin: 0 auto
  background: url('../img/logo-white.svg') left top no-repeat
  background-size: 100% auto

.main
  padding: 0 0 0 (sidebar-width + 4)
  max-width: 104em

.lower-canvas
  display: block
  width: 75em
  height: 56em
  background: url('../img/macbook.png') -1.6em -10em no-repeat
  background-size: 100% auto

.sticker-meta
  padding: 2em 0 0 .5em

.sticker-data
  display: inline-block
  vertical-align: top
  width: 75%

.sticker-download
  display: inline-block
  vertical-align: top
  width: 23%
  padding-top: 3.5em
  text-align: right

.sticker-title
  font-size: 3.5em
  color: #fff
  font-weight: 300
  margin: 0

.sticker-link
  background: rgba(#000, .15)
  padding: .4em .6em
  color: color-border
  text-decoration: none
  font-size: 1.3em
  margin: 1em 0
  display: inline-block
  &:hover
    background: rgba(#000, .3)

.btn-download
  background: color-primary
  padding: .4em 1.5em
  color: #fff
  text-decoration: none
  font-size: 1.8em
  box-shadow: 0 2px 0 darken(color-primary, 30%)
  position: relative
  &:hover
    background: darken(color-primary, 10%)
    top: 2px
    box-shadow: none

// Stickers List
.stickers-list-box
  margin-top: 2em
  overflow-y: auto
  height: 400px
  box-shadow: 0 -20px 10px -10px rgba(#000, .1) inset

#stickers-list
  list-style: none
  margin: 0
  padding: 0

.sticker-item
  display: inline-block
  width: 45%
  vertical-align: top
  padding: 2em
  height: 12em
  margin: 1%
  border-radius: 50%
  cursor: pointer
  position: relative
  &:before
    content: ' '
    width: 1px
    height: 1px
    display: block
    position: absolute
    box-shadow: 0 0 50px 30px rgba(#fff, .2)
    top: 0
    left: 0
    right: 0
    bottom: 0
    margin: auto
    border-radius: 50%
  &:hover
    border-color: #eee
    &:before
      box-shadow: 0 0 60px 30px rgba(#fff, .2)
    .sticker-item-image
      opacity: 1

.sticker-item-image
  opacity: .8
  transition: all .2s ease
  -webkit-backface-visibility: hidden
  -webkit-transform: translateZ(0) scale(1.0, 1.0)
  max-height: 100%
  max-width: 100%
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  margin: auto
  max-width: 70%