// Default
*
  box-sizing: border-box

body
  background: url('../img/bg-body.svg') left top repeat color-secondary
  margin: 0
  padding: 0
  font-size: 62.5%

// Header
.sidebar
  width: 28em
  position: fixed
  top: 0
  left: 0
  bottom: 0
  background: color-sidebar
  text-align: center
  padding: 1em

.sidebar-logo
  display: block
  max-width: 7em
  height: 10em
  margin: 0 auto
  background: url('../img/logo.svg') left top no-repeat
  background-size: 100% auto

.main
  padding: 0 0 0 (sidebar-width + 4)
  max-width: 80%

.canvas
  display: block
  width: 75em
  height: 70em
  background: url('../img/macbook.png') -1.6em -8em no-repeat
  background-size: 100% auto

.sticker-title
  font-family: font-title
  font-size: 3.5em
  color: #eee
  font-weight: 900
  margin-bottom: 0
  text-shadow: 0 -1px 1px #000

// Coffee by Robin Brons
// http://codepen.io/bronsrobin/pen/xfhmn
.coffee
  coffee-size  = 15em
  coffee-color = #fff
  position: absolute
  right: 7em
  top: 5em
  width: coffee-size
  height: coffee-size
  background-color: hsl(120, 100%, 0%)
  border: 8px solid coffee-color
  border-radius: 100%
  box-shadow: inset 0 0 0 8px hsl(72, 4%, 76%), inset 0 0 2px 12px hsl(40, 25%, 47%)
  float: left
  margin: 0 0 0 10em
  &:after
    display: block
    content: ' '
    width: 4em
    height: 3em
    background-color: hsl(0, 0%, 100%)
    border-radius: 4em 0 0 4em
    transform: translate(120px,102px) rotate(216deg)

// Smoke by Lionel T
// http://codepen.io/elrumordelaluz/pen/iogHk
.smoke
  width: 70px
  height: 100px
  position: absolute
  left: 50%
  margin-left: -40px
  top: 43px
  background-image: radial-gradient(75% 59%, ellipse, rgba(255,255,255,0.2), transparent 25%), radial-gradient(25% 70%, ellipse, rgba(255,255,255,0.2), transparent 15%), radial-gradient(35% 61%, ellipse, rgba(255,255,255,0.2), transparent 10%), radial-gradient(55% 35%, ellipse, rgba(255,255,255,0.2), transparent 15%);
  animation: bk 11s infinite
  &:after
    content: ' '
    width: 100px
    height: 100px
    position: absolute
    background-image: radial-gradient(75% 59%, ellipse, rgba(255,255,255,0.2), transparent 25%), radial-gradient(25% 70%, ellipse, rgba(255,255,255,0.2), transparent 15%), radial-gradient(35% 61%, ellipse, rgba(255,255,255,0.2), transparent 10%);
    animation: bk 2s 1s infinite

@keyframes bk
  0%
    background-position: 0 0
    opacity: 0
  15%, 85%
    opacity:1
  100%
    background-position: -20px -25px, -5px -25px, 0px -25px, 0px -25px
    opacity: 0