// Setup file
// All variables and config's for the project

// Colors
color-primary          = #45b2ac
color-secondary        = #7d6245
color-font             = #555
color-meta             = #ccc
color-border           = #eee
color-link             = #000

// Specific colors
color-sidebar          = color-meta

// Sizes
sidebar-width          = 28em

// Fonts
font-body              = 'Lato', sans-serif