// CSS Normalize
// by Necolas - https://github.com/necolas/normalize.css
@import '_vendor/normalize'

// Application styles
// Specific files for whole project
@import '_app/setup'
@import '_app/default'